<!--
=====================================================
; Title: Assignment 2.4 Routing in Action
; Author: Professor Krasso
; Date: 15 January 2022
; Modified By: Gustavo Roo Gonzalez
; Description: Composer About Page
=====================================================
*/-->

<div class="container">
  <br /><br />
  <div class="row">
    <!--Left-hand image section-->
    <div class="col-sm-5">
      <!--Image with caption-->
      <figure>
        <img src="../../assets/aromero.jpeg" alt="" />
        <!--Caption of image containing URL-->
        <figcaption>
          <a href="https://www.last.fm/music/Astolfo+Romero"
            >Photo of Astolfo Romero from last.fm</a
          >
        </figcaption>
      </figure>
    </div>
    <!--Right-hand column containing Bio-->
    <div class="col-sm-7">
      <!--Title for composer's bio-->
      <h3>Astolfo Romero</h3>
      <br />
      <!--75 word bio-->
      <p>
        Astolfo Romero was born on February 8, 1950, in "El Empedrao" in
        Maracaibo, Venezuela. He was considered a child prodigy, playing several
        Zulia music instruments, including furro, drums, maracas, and charrasca.
        In 1962, at the age of 12, he joined a child piper group called “Los
        Invasores”. By then, he had already composed a piece ("Zulia") that was
        featured on the regional television channel. He continued his passion by
        composing music for different musical groups throughout his life until
        he passed away in 2000.
      </p>
      <br />
      <!--List of famous works-->
      <p><strong>Works:</strong></p>
      <ul>
        <li>La Negra Cumba Cumba, 1974</li>
        <li>Una Florecita, 1983</li>
        <li>La Flor de la Habana, 1992</li>
      </ul>
    </div>
  </div>
</div>
