<!--
=============================================
; Title: Assignment 2.4 Routing in Action
; Author: Professor Krasso
; Date: 15 January 2022
; Modified By: Gustavo Roo Gonzalez
; Description: Composer contact page.
=============================================
*/-->

<!--Container with page elements-->
<div class="container">
  <br />
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <!--Title to contact Astolfo's management-->
      <h2><strong>Contact Astolfo Romero's Management</strong></h2>
    </div>
  </div>
  <!--Row for address and phone -->
  <div class="row">
    <!--Left-hand column with header and street address-->
    <div class="col-sm-6">
      <br />
      <br />
      <!--Home icon and address header-->
      <i class="fa fa-home fa-5x" aria-hidden="true"></i>
      <h4>Address Information</h4>
      <!--Address-->
      <ul>
        <li>
          <strong>Mailing Address: </strong> 123 Gaitero St<br />
          Maracaibo, Venezuela
        </li>
        <li><strong>E-mail: </strong>a.romero.management@gaita.ve</li>
        <li>
          <strong>Website: </strong
          ><a href="https://open.spotify.com/artist/7iUA6SsuAKo8q6pexfeCHC">
            www.AstolfoRomero.com</a
          >
        </li>
      </ul>
    </div>
    <!--Right-hand column with header a phone number-->
    <div class="col-sm-6">
      <br /><br />
      <!--Phone icon and header for phone numbers-->
      <i class="fa fa-phone fa-5x" aria-hidden="true"></i>
      <h4>Phone Numbers</h4>
      <!--List of phone numbers-->
      <ul>
        <li><strong>Management Team:</strong> +58 261 123 45 67</li>
        <li><strong>Archives:</strong> +58 261 987 65 43</li>
      </ul>
    </div>
  </div>
</div>
