/*
===============================================================
; Title: Assignment 4.3 Handling Form Events with Observables
; Author: Professor Krasso
; Date 27 January 2022
; Modified By: Gustavo Roo Gonzalez
; Description: Handling Form Events with Observables
==================================================================
*/

.textSearch {
  width: 30%;
  float: right;
  margin-bottom: 5px;
}
