<!--
=====================================================
; Title: Assignment 1.5 Components
; Author: Professor Krasso
; Date 08 January 2022
; Modified By: Gustavo Roo Gonzalez
; Description: My details
=====================================================
*/-->

<!--Unordered list of favorites.-->
<ul class="list-group">
  <li class="list-group-item">
    <strong>Full Name:</strong> Gustavo Roo Gonzalez
  </li>
  <li class="list-group-item">
    <strong>Favorite Food:</strong> Venezuelan Food
  </li>
  <li class="list-group-item"><strong>Favorite Color:</strong> Gray</li>
</ul>
